#titulo{
    width: 60%;
    height: 70%;
    text-align: center;
    padding: 1px;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    background-color: rgb(250, 242, 233);
}

h1{
    font-size: 40px;
}

h5{
    font-size: 14px;
    text-decoration: underline;
    align-self: flex-end;
    margin: 15px;
    text-align: end;
}

.corpo{
    margin: 5px;
}

#principal{
    border: 4px solid rgb(194, 194, 194);
    border-radius: 20px;
    padding: 4px;
    margin-left: 25px;
}

#características{
    padding: 5px;
    margin-bottom: 5px;
}

#resumo{
    width: 10%;
    height: 40px;
    text-align: flex-end;
    margin: 12px;
    font-size: 16px;
}

#ultimafrase{
    font-weight: bold;
    text-decoration: underline;
}

